.comment-container{
    background-color: #f7f7f7;
    padding: 15px;
    position: relative;
}

.comet{
    background: white;
    padding: 20px;
    position: relative;
    display: flex;
    text-align: center;
    margin-bottom: 20px;
}

.comment-info{
    margin-left: 20px;
}


.body-1 {
    width: 100%;
    padding: 0;
    margin: 0;
}

.common-font {
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.photo-description-body {
    position: relative;
    width: 75%;
    display: flex;
    left: 12.5%;
}

.photo {
    position: relative;
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

.mini-photo {
    width: 100%;
    display: flex;
}

.description {
    width: 50%;
    padding-left: 60px;
    position: relative;
}

.info-container {
    position: relative;
}

.info-container>div {
    min-width: 100px;
    text-align: left;
    padding: 15px;
    margin-right: 2%;
    border-radius: 3px;
    border: solid 1px #e8e8e8;
}

.details-container {
    position: relative;
    display: flex;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-top: 50px;
}

.tabs-container {
    width: 62.5%;
    position: relative;
    margin-right: auto;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #414141;
    background-color: white;
    border-color: white;
    border-bottom: 3px solid black;
}

.info-details {
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    color: #414141;
}

.documents {
    display: block;
}

.download-btn {
    margin-top: 4px;
    margin-right: 15px;
    display: inline-flex;
    padding: 11px 25px;
    border: 1px solid #e8e8e8;
    background: white;
    border-radius: 50px;
    align-items: center;
}

.Info-Volunteers-Container {
    width: 32%;
}

.Information-container {
    position: relative;
    border: 1px solid #e8e8e8;
    padding: 30px 31px 24px 31px;
}

.volunteers-container {
    position: relative;
    border: 1px solid #e8e8e8;
    padding: 30px 31px 24px 31px;
}

.volunteer-image-style {
    height: 70px;
    width: 70px;
    border-radius: 70px;
}

.Related-Missions {
    position: relative;
    font-size: 34px;
    font-weight: 300;
    text-align: center;
    color: #414141;
}

.Card {
    position: relative;
    width: 75%;
    left: 12.5%;
    right: 12.5%;
    display: flex;
    margin-top: 26px;
    margin-bottom: 40px;
}

.box {
    position: relative;
    width: 32%;
    border-radius: 3px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    padding-bottom: 20px;
}

.box-2 {
    margin: 0 2% 0 2%;
}

.box-img {
    width: 100%;
    border-radius: 3px 3px 0 0;
    position: relative;
}

.card-heading {
    margin: 6.5% 6.5% 3.3% 6.5%;
    font-size: 2vw;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #414141;
}

.card-body {
    margin: 0 30px 16px 30px;
    font-size: 1.2vw;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #757575;
}

.img-text {
    width: 127px;
    height: 35px;
    border-radius: 17.5px;
    background-color: #fff;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    color: #414141;
    transform: translate(-50%, 50%);
    bottom: 0%;
    left: 50%;
}

.img-icon {
    position: absolute;
    height: fit-content;
    color: white;
    background: black;
    opacity: 0.4;
    width: max-content;
    font-size: 14px;
    bottom: 60px;
    right: 4%;
    border-radius: 100px;
}

.star-box {
    position: relative;
    display: flex;
    margin: 0px 6.5% 45px 6.5%;
}

.star-name {
    margin-right: auto;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    color: #414141;
    padding-top: 4px;
}

.star-rate {
    padding: 0;
}

.star {
    margin-left: 1px;
    color: #dddddd;
}

.time-date {
    width: 100%;
    height: 78px;
    padding: 0 30px;
    position: relative;
    border-top: 1px solid #e8e8e8;
}

.date-set {
    width: max-content;
    padding: 5px 20px;
    border-radius: 25.5px;
    border: solid 1px #e8e8e8;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #414141;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%);
}

.Apply-btn {
    position: relative;
    padding-top: 20px;
    display: flex;
    align-items: center;
    bottom: 0;
    border-top: 1px solid #e8e8e8;
}

.Apply {
    position: relative;
    width: max-content;
    font-weight: normal;
    color: #f88634;
    padding: 15px 25px 15px 25px;
    font-size: 17px;
    background-color: white;
    border: solid 2px #f88634;
    border-radius: 35px;
    left: 50%;
    transform: translate(-50%, 0);
}

.Apply:hover{
    color: white;
    background-color: #f88634;
    border-color: black;
}

.two-btn {
    position: relative;
    margin-bottom: 40px;
    display: flex;
}

.add-to-fav {
    position: relative;
    margin: 0;
    width: 50%;
    padding: 10px;
    border-radius: 150px;
    border: solid 2px #757575;
    background-color: #fff;
    /* width: fit-content; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.person {
    position: relative;
    display: flex;
    top: 50%;
    transform: translate(0, -50%);
}

.Deadline {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #414141;
    width: 100%;
}

.Deadline .text-style-1 {
    font-size: 14px;
    font-weight: 300;
    color: #757575;
    width: max-content;
}

.deadline-icon {
    color: #757575;
    font-size: x-large;
    margin-right: 10px;
}

progress::-webkit-progress-bar {
    border-radius: 20px;
    background-color: #e8e8e8;
}

progress::-webkit-progress-value {
    border-radius: 20px;
    background-color: #f88634 !important;
}

progress {
    width: -webkit-fill-available;
    height: 10px;
    background-color: white;
}

.privacy-policy {
    position: relative;
    width: 75%;
    left: 12.5%;
    right: 12.5;
    height: 100px;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    color: #414141;
    text-decoration: none;
}

@media only screen and (max-width: 1536px) {
    .Card {
        position: relative;
        width: 92%;
        left: 4%;
    }
    .photo-description-body {
        width: 92%;
        left: 4%;
    }
}

@media only screen and (max-width: 1440px) {

    .photo-description-body {
        align-items: center;
    }

    /* .description {
        width: 700px;
        padding: 0;
        display: block;
        left: 50%;
        transform: translate(-50%, 0);
    } */
}

@media only screen and (max-width: 1024px) {
    .details-container {
        display: block;
    }
    .photo-description-body {
        width: 92%;
        display: block;
        left: 4%;
        align-items: center;
    }
    .photo {
        width: auto;
    }

    .description {
        width: 90%;
        padding: 0;
        display: block;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .card-body {
        font-size: 2vw;
    }
    .card-heading {
        font-size: 4vw;
    }
    .tabs-container {
        width: 100%;
    }

    .Info-Volunteers-Container {
        display: flex;
        width: 100%;
    }

    .Information-container {
        margin-top: 40px;
        width: 50%;
    }

    .volunteers-container {
        width: 50%;
    }
}

@media only screen and (max-width: 768px) {
    .Card {
        position: relative;
        width: 92%;
        left: 3%;
        display: block;
    }

    .box {
        width: 100%;
    }

    .box-2 {
        margin: inherit;
    }

    .Information-container {
        padding:15px;
    }

    .volunteers-container {
        padding: 15px;
    }
    .volunteer-image-style {
        height: 50px;
        width: 50px;
        border-radius: 70px;
    }
}

@media only screen and (max-width: 426px) {
    .Card {
        width: 96%;
        left: 2%;
    }
    .card-body {
        font-size: 14px;
    }
    .card-heading {
        font-size: 20px;
    }

    .photo-description-body {
        width: 96%;
        left: 2%;
    }

    .details-container {
        display: block;
    }

    .tabs-container {
        width: 100%;
    }

    .Info-Volunteers-Container {
        display: block;
        width: 100%;
    }

    .Information-container {
        margin-top: 40px;
        width: 100%;
    }

    .volunteers-container {
        width: 100%;
    }

    .volunteer-image-style {
        height: 40px;
        width: 40px;
    }
}