@using CiPlatform.DataModels
@model MissionTheme

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CL-User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <link href="~/css/AdminStyle.css" rel="stylesheet">
</head>

<body>
    <div class="body-1">
        <div class="left-container">
            <ul class="nav flex-column side-nav">

                <li class="nav-head">NAVIGATION</li>
                <li class="nav-item navigation-items-container">
                    <a class="nav-link navigation-items" asp-controller="Admin" asp-action="Userlist">
                        <i class="bi bi-person"></i>
                        <div class="nav-item-name">User</div>
                    </a>
                </li>
                <li class="nav-item navigation-items-container">
                    <a class="nav-link navigation-items" asp-controller="Admin" asp-action="Cmspage">
                        <i class="bi bi-file-earmark-text-fill"></i>
                        <div class="nav-item-name">CMS Pages</div>
                    </a>
                </li>
                <li class="nav-item navigation-items-container">
                    <a class="nav-link navigation-items" asp-controller="Admin" asp-action="Mission">
                        <i class="bi bi-bullseye"></i>
                        <div class="nav-item-name">Mission</div>
                    </a>
                </li>
                <li class="nav-item navigation-items-container">
                    <a class="nav-link navigation-items active" aria-current="page" asp-controller="Admin" asp-action="Missiontheme">
                        <i class="bi bi-columns"></i>
                        <div class="nav-item-name">Mission Theme</div>
                    </a>
                </li>
                <li class="nav-item navigation-items-container">
                    <a class="nav-link navigation-items" asp-controller="Admin" asp-action="Missionskill">
                        <i class="bi bi-tools"></i>
                        <div class="nav-item-name">Mission Skills</div>
                    </a>
                </li>
                <li class="nav-item navigation-items-container">
                    <a class="nav-link navigation-items" asp-controller="Admin" asp-action="Missionapp">
                        <i class="bi bi-gear-fill"></i>
                        <div class="nav-item-name">Mission Application</div>
                    </a>
                </li>
                <li class="nav-item navigation-items-container">
                    <a class="nav-link navigation-items" asp-controller="Admin" asp-action="Story">
                        <i class="bi bi-pencil-square"></i>
                        <div class="nav-item-name">Story</div>
                    </a>
                </li>
                <li class="nav-item navigation-items-container">
                    <a class="nav-link navigation-items" asp-controller="Admin" asp-action="Banner">
                        <i class="bi bi-gear-fill"></i>
                        <div class="nav-item-name">Banner Management</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="right-container">

            @await Component.InvokeAsync("AdminNavigation")

            <div style="padding: 0 40px 0 20px;width: 100%;position: relative;">
                <form method="post" class="row g-4 font-style-1"
                      style="margin: 50px 0 130px 0;border: 1px solid #e8e8e8;position: relative;">
                    <div class="form-title">@(Model.MissionThemeId  != 0 ? "Edit" : "Add") Mission Theme</div>
                    <hr style="margin: 0;">
                    <input type="hidden" asp-for="MissionThemeId" />
                    <div class="col-md-6 ">
                        <label asp-for="Title" class="form-label">Theme Name</label>
                        <input asp-for="Title" type="text" class="form-control input-box-style" style="box-shadow: none;" id="title">
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="col-md-6" style="margin-bottom: 40px;">
                        <label asp-for="Status" class="form-label">Status</label>
                        <select asp-for="Status" id="status" class="form-select input-box-style" style="box-shadow: none;">
                            <option value="0">In Active</option>
                            @if(Model.MissionThemeId != 0 ){
                                <option value="1" >Active</option>
                            }else{
                                <option value="1" selected>Active</option>
                            }                            
                        </select>
                    </div>
                    <div style="display: flex; position: absolute;bottom: -75px;justify-content: end;">
                        <a asp-controller="Admin" asp-action="Missiontheme" style="text-decoration: none;" class="btn-style1 btn-style-grey">
                            Cancel
                        </a>
                        @if (Model.MissionThemeId == 0)
                        {
                            <button type="submit" class="btn-style1 btn-style-orange" style="margin-left: 10px;">
                                Create
                            </button>
                        }
                        else
                        {
                            <button type="submit" class="btn-style1 btn-style-orange" style="margin-left: 10px;">
                                Update
                            </button>
                        }

                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous">
    </script>
    @section Scripts{
        <partial name="_ValidationScriptsPartial" />
    }
    </body>

    </html>