@using CiPlatform.Models
@model LoginPageViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CI-Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="~/css/Style.css" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script data-main="dist/js/" src="js/require.min.js"></script>
</head>
 
<body>  
    <div class="body-1">
        
        @Html.Partial("_SliderPartial" ,Model.banner)

        <div class="Right-Container">
            <div class="form-block">
                <form class="form-container" method="post">
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label" style="color: #414141;font-size: 16px;">
                            Email Address
                        </label>
                        <input asp-for="Email" type="email" class="form-control form-input"
                               style=" display:inline;color: #414141; border-radius: 3px;box-shadow: none;"
                               id="Email" placeholder="xyz@abc.com">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"
                               style="color: #414141;font-size: 16px;">Password</label>
                        <input asp-for="Password" type="password" class="form-control form-input" id="Password" style="box-shadow: none;"
                               placeholder="Enter Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn form-control rounded-pill mb-3 mt-3 btn-outline-mystyle"
                            style="font-size: 17px;">
                        Login
                    </button>
                </form>
                <div class="lost"><a class="text" asp-action="Lost">Lost your password?</a></div>
                <div class="text">
                    Don't have an account?<a class="link-text" asp-action="Register">
                        Create an account
                    </a>
                </div>
            </div>
            <div class="Privacy-Policy">
                <a class="text" asp-controller="Home" asp-action="Privacy" > Privacy Policy </a>
            </div>
        </div>
    </div>

    @*<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous">
    </script>*@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
            integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
            crossorigin="anonymous">
    </script>

    @section Scripts{
        <partial name="_ValidationScriptsPartial" />
    }
</body>

</html>