@using CiPlatform.Models
@model ResetPasswordVM

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CL-Reset</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="~/css/Style.css" rel="stylesheet">
</head>

<body>

    <div class="body-1">
        
        @Html.Partial("_SliderPartial" ,Model.banner)

        <div class="Right-Container">
            <div class="form-block">
                <div class="text" style="font-size: 22px;margin-bottom: 10px;">New Password</div>
                <div class="text" style="margin-bottom: 30px;">
                    Please enter a new password in the fields below.
                </div>
                <form class="form-container" method="post">
                    <input type="hidden" asp-for="Email" />
                    <input type="hidden" asp-for="Token" />
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"> New Password </label>
                        <input asp-for="Password" type="password" class="form-control" style="display:inline;box-shadow: none;" id="pass"
                               placeholder="Enter New Password...">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="Confirm-Password" class="form-label">Confirm New Password</label>
                        <input type="password" class="form-control" id="confirmpass" style="box-shadow: none;"
                               placeholder="Enter Same Password...">
                    </div>
                    <button type="submit" class="btn form-control mt-2 mb-3 rounded-pill btn-outline-mystyle" onclick="return validateInput()"
                            style="font-size: 17px;">
                        Change Password
                    </button>
                </form>
                <div class="lost"><a class="text" asp-controller="User" asp-action="Login">Login</a></div>
            </div>

            <div class="Privacy-Policy">
                <a class="text" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
            </div>
        </div>
    </div>


    

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function validateInput() {
            if (document.getElementById("pass").value != document.getElementById("confirmpass").value) {
                Swal.fire({
                    icon: 'info',
                    title: 'Password Missmatch',
                    text: 'Please Enter Same password.....!',
                })
                return false;
            }
            return true;
        };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
            integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
            crossorigin="anonymous"></script>
    @section Scripts{
        <partial name="_ValidationScriptsPartial" />
    }
    </body>

    </html>
